<button class="btn btn-primary d-md-none" id="admin-sidebar" type="button" data-bs-toggle="collapse" data-bs-target="#adminSidebar" aria-expanded="false" aria-controls="adminSidebar">
    <i class="fas fa-bars"></i>
</button>
<aside class="col-md-2 sidebar bg-orange" id="adminSidebar">
    <nav class="nav flex-column py-3">
        <a class="nav-link" href="/revenue">
            <i class="fas fa-chart-line me-2"></i><strong> Doanh Thu</strong>
        </a>
        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#statMenu" role="button" aria-expanded="false">
            <i class="fa-brands fa-product-hunt me-2"></i><strong> Sản Phẩm</strong>
        </a>
        <div class="collapse" id="statMenu">
            <a class="nav-link ps-4" href="/product">
                <i class="fa-solid fa-list me-2"></i><strong> Danh Sách</strong>
            </a>
            <a class="nav-link ps-4" href="/product/add">
                <i class="fa-solid fa-plus me-2"></i></i><strong> Thêm</strong>
            </a>
        </div>
        <a class="nav-link" href="/category">
            <i class="fa-solid fa-layer-group me-2"></i></i><strong> Danh Mục</strong>
        </a>
    </nav>
</aside>
